<%- include('header') %>

<body class="container mt-5">
    <h2 class="mb-4">Your Chatrooms</h2>
    
    <div>
        <% if (rooms && rooms.length > 0) { %>
            <p>You have <%= rooms.length %> chatroom(s).</p>
            <ul>
                <% rooms.forEach(room => { %>
                    <li><%= room.name %></li>
                <% }) %>
            </ul>
        <% } else { %>
            <br>
            <p>You have no chatrooms.</p>
        <% } %>
        <a href="/create-chatroom" class="btn btn-primary text-white">New Chat</a>
    </div>
    <br>
    <a href="/" class="btn btn-secondary text-white">Home</a>
</body>

<%- include('footer') %>
