<%-include('header')%>

    <body class="container mt-5">
        <h2 class="mb-4">Welcome <%= username %>
        </h2>
        <a href="/chats" class="btn btn-primary text-white">Chatrooms</a>
        <a href="/logout" class="btn btn-secondary text-white">Logout</a>
    </body>

    <%-include('footer')%>